{% extends "main/base.html" %}

{% block title %}MG | Страница не найдена{% endblock %}

{% block content %}

    <img class="main_fon_404_img" alt="">
        <div class="main_container">
            <div class="form_container">
                <div class="form_header">
                    <img class="form_image" src="/static/main/img/authorization/money_gun_logo.png" alt="">
                    <div class="form_main_text_reset_password">Страница не найдена</div>
                </div>
                <div class="button_404">
                    <a href="/" class="form_forgot_link">Домой</a>
                </div>
            </div>
        </div>

{% endblock %}