{% extends "main/base.html" %}

{% block title %}MG | Востановить пароль{% endblock %}

{% block content %}

    <img class="main_fon_img" alt="">
        <div class="main_container">
            <div class="form_container">
                <form class="form_box" method="post">
                    <div class="form_header">
                        <img class="form_image" src="/static/main/img/authorization/money_gun_logo.png" alt="">
                        <div class="form_main_text_reset_password">Восстановить пароль</div>
                    </div>
                    <div class="text_activate_account">Письмо с инструкцией для восстановления пароля будет отправлено на вашу электронную почту.</div>
                    {% csrf_token %}
                    {{ form.email }}
                    <input class="button_form_input" type="submit" value="Отправить">
                    <a href="/login/" class="form_forgot_link">Войти</a>
                </form>
            </div>
        </div>
{% endblock %}