{% extends "main/base.html" %}

{% block title %}Account{% endblock %}

{% block content %}

    <img class="page_image_account" alt="">
        <div class="main_container">
            <div class="form_container">
                <form class="form_box" method="post">
                    <div class="form_header">
                       <img class="form_image" src="/static/main/img/authorization/money_gun_logo.png" alt="">
                        <div class="form_main_text_reset_password">Обновление пароля</div>
                    </div>
                    {% csrf_token %}

                    {% if form.errors %}
                        <p class="errornote">
                            {% if form.errors.items|length == 1 %}{% endif %}
                        </p>
                    {% endif %}

                    {{ form.non_field_errors }}

                    {{ form.old_password.errors }}
                    {{ form.old_password.label_tag }} {{ form.old_password }}

                    {{ form.new_password1.errors }}
                    {{ form.new_password1 }}

                    {{ form.new_password2.errors }}
                    {{ form.new_password2 }}

                    <input class="button_form_input" type="submit" value="Поменять пароль">
                    <a href="/account/" class="form_forgot_link">Учётная запись</a>
                </form>
            </div>
        </div>

{% endblock %}